@font-face {
    font-family:"hola";
    src: url("../fonts/myriad-pro-light.otf");
}
pre{
    font-family:"hola";
    font-size: 1.4vw;
}
.Grid_Backgorund_Container{
    display: grid;
    grid-template-columns: repeat (1,1fr);
    grid-template-rows: repeat (11,1fr);
    position: fixed;
}


.Grid_Backgorund_Container .Container_Upperpart {
    position: fixed;
}

.Grid_Backgorund_Container .Añadir_cuadro{
    position: fixed;
    border: 0.1vw solid black;
    border-radius: 1vw;
    width: 6.4vw;
    height: 2.4vw;
    margin: 0.6vw 0vw 0vw 0vw;
    background-color: #E3854C;
    z-index: -1;
}
.Grid_Backgorund_Container .Añadirtxt{
    margin:1.2vw 0vw 0vw 1.6vw;
    position: fixed;
    height: 1.6vw;
    font-size: 1vw;
    width: 3vw;
    overflow: hidden;
    border-radius: 15%;
    text-align: center;
   }

.Grid_Backgorund_Container .Logo img{
height: 3vw;
position: fixed;
margin: 0.3vw 0vw 0vw 45vw;

}
.Grid_Backgorund_Container .Pedro_img img{
    position: fixed;
    height: 3vw;
    margin: 0.4vw 0vw 0vw 96.2vw;


}
.Grid_Backgorund_Container .Settings img{
    position: fixed;
    height: 1.5vw;
    margin: 1.2vw 0vw 0vw 90vw;

}

.Grid_Backgorund_Container .Noti img{
    position: fixed;
    height: 1.5vw;
    margin: 1.2vw 0vw 0vw 93.5vw;


}
.Grid_Backgorund_Container .Line {
    border: 1px solid black;
    position: fixed;
    margin: 3.6vw 0vw 0vw 0vw;
    width: 100vw;

}
.Grid_Backgorund_Container .Paneltxt{
    position: fixed;
    font-size: 1.8vw;
    margin: 3vw 0vw 0vw 40vw;
}
.Grid_Backgorund_Container .Cruz{
    position: fixed;
    font-size: 2vw;
    margin: 4.8vw 0vw 0vw 80.4vw;
    color: white;
    z-index: +1;
}
.Grid_Backgorund_Container .Cruz_Circle{
    position: fixed;
    border: 1vw solid black;
    border-radius: 60%;
    margin: 5vw 0vw 0vw 80vw;
}
 .Elementostxt p{
    position: fixed;
    font-size: 1.2vw;
    margin: 8.8vw 0vw 0vw 5.8vw ;
    
}

.Cuadro_elementos{
    border: 0.1vw solid black;
    position: fixed;
    border-radius: 3ch;
    width: 15vw;
    height: 2vw;
    margin: 8.5vw 0vw 0vw 3vw;
}
.Fondo_Principal5-1{
    border: 0.1vw solid black;
    border-radius: 1.5vw;
    width: 87vw;
    font-size: 1vw;
    height: 3.3vw;
    margin: 17vw 0vw 0vw 1.6vw;
    position: fixed;

}



.Fondo_Principal6-1{
    border: 0.1vw solid black;
    border-radius: 1.5vw;
    width: 87vw;
    height: 3.3vw;
    margin: 22vw 0vw 0vw 1.7vw;
    position: fixed;
    font-size: 1vw;
}
.Fondo_Principal7-1{
        border: 0.1vw solid black;
        border-radius: 1.5vw;
        width: 87vw;
        font-size: 1vw;
        height: 3.3vw;
        margin:27vw 0vw 0vw 1.7vw;
        position: fixed;
    
}
.Fondo_Principal4{
    font-size: 0.85vw;
    font-weight: 700;
    margin: 15vw 0vw 0vw 0vw;
    position: fixed;

}

.juan1{
    position: fixed;
    margin: 1.2vw;
    display: flex;
}
.juan2{
    position: fixed;
    margin: 1.2vw;
    display: flex;
}


.juan3{
    position: fixed;
    margin: 1.2vw;
    display: flex;
}



.p1{
    display: flex;
    position: fixed;
}

.Fondo_Principal9{
    border: 0.1vw solid black;
    border-radius: 1.5vw;
    width: 87vw;
    height: 3.3vw;
    margin: 38vw 0vw 0vw 1.7vw;
    position: fixed;
    font-size: 1vw;
}

.Box1 input{
 position: fixed;
 display: flex;
 height: 2vw;
 width: 6vw;
 margin: 0.6vw 0vw 0vw 1.6vw;
 border-radius: 0.5vw;
}
.Fondo_Principal10{
    font-weight: 900;
    font-size: 0.9vw;
    position: fixed;
    display: flex;
    margin: -4vw 0vw 0vw -6vw;
}
.Fondo_Principal11{
    font-weight: 900;
    font-size: 0.9vw;
    position: fixed;
    display: flex;
    margin: -4vw 0vw 0vw 10vw;
}
.Box2 input{
    position: fixed;
    display: flex;
    height: 2vw;
    width: 6vw;
    margin: 4.5vw 0vw 0vw 2vw;
    border-radius: 0.5vw;
   }
   .Fondo_Principal12{
    font-weight: 900;
    font-size: 0.9vw;
    position: fixed;
    display: flex;
    margin: -4vw 0vw 0vw -6vw;
}
.Box3 input{
    position: fixed;
    display: flex;
    height: 2vw;
    width: 6vw;
    margin: 4.5vw 0vw 0vw 12vw;
    border-radius: 0.5vw;
   }
   .Fondo_Principal13{
    font-weight: 900;
    font-size: 0.9vw;
    position: fixed;
    display: flex;
    margin: -4vw 0vw 0vw -6vw;
}
.Box4 input{
    position: fixed;
    display: flex;
    height: 2vw;
    width: 6vw;
    margin: 8.5vw 0vw 0vw 27.5vw;
    border-radius: 0.5vw;
   }
   .Fondo_Principal14{
    font-weight: 900;
    font-size: 0.9vw;
    position: fixed;
    display: flex;
    margin: -4vw 0vw 0vw -6vw;
}
.Box5 input{
    position: fixed;
    display: flex;
    height: 2vw;
    width: 6vw;
    margin: 12.6vw 0vw 0vw 80vw;
    border-radius: 0.5vw;
   }
   .Fondo_Principal15{
    font-weight: 900;
    font-size: 0.9vw;
    position: fixed;
    display: flex;
    margin: -4vw 0vw 0vw -6vw;
}
.Box6 input{
    position: fixed;
    display: flex;
    height: 2vw;
    width: 6vw;
    margin: 16.5vw 0vw 0vw 50vw;
    border-radius: 0.5vw;
   }
   .Fondo_Principal16{
    font-weight: 900;
    font-size: 0.9vw;
    position: fixed;
    display: flex;
    margin: -4vw 0vw 0vw -6vw;
}
.Box7 input{
    position: fixed;
    display: flex;
    height: 2vw;
    width: 6vw;
    margin: 20.5vw 0vw 0vw 66vw;
    border-radius: 0.5vw;
   }

   .Fondo_Principal17{
    font-weight: 900;
    font-size: 0.9vw;
    position: fixed;
    display: flex;
    margin: -4vw 0vw 0vw -6vw;
}
.Box8 input{
    position: fixed;
    display: flex;
    height: 2vw;
    width: 6vw;
    margin: 24.5vw 0vw 0vw 81vw;
    border-radius: 0.5vw;
   }
   .Fondo_Principal18{
    font-weight: 900;
    font-size: 0.9vw;
    position: fixed;
    display: flex;
    margin: -4vw 0vw 0vw -6vw;
}
.Box9 input{
    position: fixed;
    display: flex;
    height: 2vw;
    width: 6vw;
    margin: 28.5vw 0vw 0vw 96vw;
    border-radius: 0.5vw;
   }
   .Fondo_Principal19{
    font-weight: 900;
    font-size: 0.9vw;
    position: fixed;
    display: flex;
    margin: -4vw 0vw 0vw -6vw;
}

.Subir button{
    width: 13vw;
    height: 5vh;
    margin: 36vw 0vw 0vw 70vw;
    position: fixed;
    display: flex;
    border-radius: 2ch;
    align-items: center;
    font-size: 1vw;
    text-align: center;
    background-color: #E3854C;
    font-weight: 900;
    color: white;
    border-color: none;
}
.circulo1{
    width: 2.5vw;
    height: 4.0vh;
    
    border-radius: 50%;
    background: conic-gradient(red 31%, lightgray 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
   
    font-weight: bold;
    color: black;
    position: fixed;
    margin: -0.5vw 0vw 0vw 0.5vw ;
    
}
.circuloadentro{
    width: 1.7vw;
    height: 3vh;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
    position: fixed;
}
.circulo2{
    width: 2.5vw;
    height: 4vh;
    
    border-radius: 50%;
    background: conic-gradient(red 25%, lightgray 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: black;
    position: fixed;
    margin: -0.5vw 0vw 0vw 0vw ;
    
}
.circulo3{
    width: 2.5vw;
    height: 4vh;
   
    border-radius: 50%;
    background: conic-gradient(lime 80%, lightgray 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: black;
    position: fixed;
    margin: -0.5vw 0vw 0vw 0.4vw ;
    
}
.circulo4 {
    width: 2.5vw;
    height: 4vh;
   
    border-radius: 50%;
    background: conic-gradient(red 32%, lightgray 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: black;
    position: fixed;
    margin: -2.1vw 0vw 0vw 72vw ;
    
   
}
.circulo5 {
    width: 2.5vw;
    height: 4vh;
    
    border-radius: 50%;
    background: conic-gradient(lime 95%, lightgray 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: black;
    position: fixed;
    margin: -2.1vw 0vw 0vw 72vw ;
    
}
.circulo6 {
    width: 2.5vw;
    height: 4vh;
    
    border-radius: 50%;
    background: conic-gradient(yellow 75%, lightgray 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: black;
    position: fixed;
    margin: -2.1vw 0vw 0vw 72vw ;
    
}
.menu-main{
    width: 4vw;
    height: 0.5vh;
    position: fixed;
    left: 92%;
}
.menu-second {
    display: none;
    margin-top: 3vh;
    background-color: #F97A2C;
    border-radius: 5px;
}
.menu-second ul a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 1rem;
    margin: 1vw 0vw 0vw 0vw;
    width: auto;
}
.menu-main:hover .menu-second {
    display: block;
    color: white;
    width: 4vw;
    font-size: 1.2rem;
    margin: 4vw 0vw 0vw 4vw;
}
.menu-main:hover ul {
    margin-left: -1.3vw;
}
 
.image9{
    margin: 0.2vw 0vw 0vw 5vw;
    position: fixed;
    width: 2.5vw;
}
