.Grid_Backgorund_Container{
    display: grid;
    grid-template-columns: repeat (1,1fr);
    grid-template-rows: repeat (11,1fr);
    position: fixed;
}

.Container_Upperpart {
    position: fixed;
}

.Añadir_cuadro{
    position: fixed;
    border: 0.1vw solid black;
    border-radius: 1vw;
    width: 6.4vw;
    height: 2.4vw;
    margin: 0.6vw 0vw 0vw 0vw;
    background-color: #E3854C;
    z-index: -1;
}
.Añadirtxt{
    margin:1.2vw 0vw 0vw 1.6vw;
    position: fixed;
    height: 1.6vw;
    font-size: 1vw;
    width: 3vw;
    overflow: hidden;
    border-radius: 15%;
    text-align: center;
   }

.Logo img{
height: 3vw;
position: fixed;
margin: 0.3vw 0vw 0vw 45vw;

}
.Pedro_img img{
    position: fixed;
    height: 3vw;
    margin: 0.4vw 0vw 0vw 96.2vw;


}
.Settings img{
    position: fixed;
    height: 1.5vw;
    margin: 1.2vw 0vw 0vw 90vw;

}

.Noti img{
    position: fixed;
    height: 1.5vw;
    margin: 1.2vw 0vw 0vw 93.5vw;


}
.Line p{
    border: 1px solid black;
    position: fixed;
    margin: 3.6vw 0vw 0vw -1vw;
    width: 3vw;
    height: 50vw;
}