font-face {
    font-family: "Regular";
    src: url(../Fonts/MYRIADPRO-REGULAR.OTF);
}
@font-face {
    font-family: "Light";
    src: url(../fonts/myriad-pro-light.otf);
}
@font-face {
    font-family: "Bold";
    src: url(../fonts/inria-sans.bold.ttf);

}
@keyframes logo {
    0%{opacity: 1;}
    10%{opacity: 1; animation-duration: 0.1s;}
    20%{opacity: 1; animation-duration: 0.1s;}
    60%{opacity: 1; animation-duration: 0.1s;}
    70%{opacity: 1; animation-duration: 0.1s;}
    80%{opacity: 0; animation-duration: 0.1s;}
    95%{opacity: 0; animation-duration: 0.1s;}
    100%{opacity: 0; animation-duration: 0.1s;}

}
@keyframes login2{
    0%{opacity: 0;}
    40%{opacity: 0;}
    50%{opacity: 0;}
    60%{opacity: 1;}
    100%{opacity: 1;}

    
}


body{ 
    background: url(../Images\ /pexels-pixabay-159400@2x1.png);
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    overflow: hidden;
}
.Logo1{
    width: 12vh;
    margin: 0px 0px 0px 14vw;
    animation: logo 5s;
    animation-iteration-count: 2;
    animation-duration: 2s;
    position: fixed;
    display: flex;
    
    
}



.Container_loguin {
    background-color: white;
    width: 50vw;
    height: 38vw;
    border-radius: 8%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    animation: login2 5s;
    animation-iteration-count: 1;
    opacity: 1;
    

}
@keyframes loguin {
    0%{opacity: 0%;}
    100%{opacity: 100%;}
    
}

.usuario input{ 
    border-radius: 5vw;
    border: 1px solid #707070c5;
    width: 33vw;
    height: 2.4vw;
    
}
.contraseña{
    text-align: center;
   margin-bottom: 2vw;
   

}
.contraseña input{
    border-radius: 5vw;
    border: 1px solid #707070c5;
    width: 33vw;
    height: 2.4vw;

    

}
.Container_loguin img{
    width: 4.5vw;
    height: 8vw;
    margin-bottom: -2vw;

 }
 
 .Bienvenido p{
    text-align: center;
    font-family: "Regular";
    font-size: 2vw;
    margin-top: 0.5vw;
 }
 
 .Us_txt {
    margin-bottom: -1vw;
    font-family: "light";
    font-size: 1.2vw;
    margin-left: -60%;
 }
    
 .Ingresar {
    border-radius: 20px;
    border: 1px solid #707070c5;
    background-color: rgb(255, 136, 0);
    color: white;
    width: 14vw;
    height: 3vw;
    text-align: center;
    font-family: "Bold";
    font-size: 1.2vw;
    
 }

a{
    display: block; 
    text-align: center; 
    width: 100%; 
    margin-top: 0.2vw; 
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0.5vw; 
    margin-left:-5%;
}
    


 .Porfavor{
    font-family: "Light";
    font-size: 1vw;
    margin-top: -1vw;
 }
 .pss_txt{
    margin-bottom: -1vw;
    font-family: "light";
    font-size: 1.2vw;
    margin-left: -56%;
 }
 .Tienes{
    font-family: "Light";
    font-size: 0.7vw;
    margin-top: 1vw;
 }
 .Container_loguin1{
    background-color: white;
    width: 35vw;
    height: 25vw;
    border-radius: 8%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    animation: login2 5s;
    animation-iteration-count: 1;
    opacity: 1;
    

}
.Bienvenido2 p{
    text-align: center;
    font-family: "Regular";
    font-size: 1.7vw;
    margin-top: 0.5vw;
 }

